@font-face {
    font-family: "Dosis";
    src: url(/assets/fonts/Dosis-VariableFont_wght.ttf) format("truetype");
    font-weight: normal;
}

/* RESET CSS */
* {
    margin: 0px;
    box-sizing: border-box;
}

/* BODY */
html {
    height: 100%;
}

body{
    font-family: 'Dosis';
    color: #333333;
    background-color: #f0f4f8;
    line-height: 1.7;
    padding-top: 40px;
}

header{
    background-color: #ebf8ff;
    border-bottom: 1px solid #0f2c3d;
    text-align: center;
    padding: 40px 20px;
}

.menu-navegacao{
    background-color: #f0f4f8;
    padding: 15px;
    border-bottom: 2px solid #f69337;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    gap: 25px;
    box-shadow: 0 2px 10px #0000000d;
}

.menu-navegacao a{
    margin: 0;
    color: #573310;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 15px;
    transition: 0.3s;
}

.menu-navegacao a:hover, .ativo{
    background-color: #f8eed1;
    color: #573310;
    border-bottom: 2px solid #f69337;
}

.img{
    height: 200px;
    width: auto; 
    display: flex;
    justify-content: center;
}

h1{
    color: #0f2c3d;
    font-size: 2.2em;
    margin: 0px 10px;
}

/* ----------- MAIN ----------- */
.container-central{
    max-width: 800px;
    margin: 0 auto;

}

section{
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.secao-cinza{
    background-color: #ffffff;
    max-width: 100%;
}

.container-central{
    max-width: 800px;
    margin: 0 auto;
}

h2{
    color: #2f5972;
    border-left: 4px solid #f4b400;
    padding-left: 20px;
}

/* lista e itens da lista */ 
ul{
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li{
    background-color: #ebf8ff;
    padding: 12px 18px;
    margin-bottom: 8px;
    border-radius: 8px;
    border-left: 5px solid #0f2c3d;
}

footer{
    background-color: #0f2c3d;
    color: white;
    text-align: center;
    cursor: default;
    padding-top: 15px;
    bottom: 0;
}

.botao{
    display: inline-block;
    background-color: #f4b400;
    color: black;
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}

span{
    font-weight: bold;
    font-size: 15px;
    color: #573310;
}
.formulario{
    max-width: 400px;
    margin: 20px auto;
    padding: 25px 65px;
    background-color: #ebf8ff;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 4px 5px 8px 0px #84929a;
}

.formulario input{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 15px;
}

.lista-acoes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.acao-item{
    background-color: #ebf8ff;
    padding: 20px;
    border-radius: 8px;
    border-top: 4px solid #2d6a4f;
    box-shadow: 4px 5px 8px 0px #84929a;
    text-align: center;
    transition: transform 0.3s;
}

.acao-item:hover{
    transform: translateY(-5px);
}

.acao-texto{
    margin: 16px;
}